<div class="GalleryContainer">
  <h3>Featured Products</h3>
  <div class="GalleryPics">
    <div class="GalleryPic">
      <img [src]="img1"/>
      <h4>32oz Wide Mouth Psychedelic <br/>
        Botanical Print Bottles – Mushrooms</h4>
    </div>
    <div class="GalleryPic">
      <img [src]="img2"/>
      <h4>32oz Wide Mouth Psychedelic <br/>
         Botanical Print Bottles – Florals</h4>
    </div>
    <div class="GalleryPic">
      <img [src]="img3"/>
      <h4>32oz Wide Mouth Psychedelic <br/>
         Botanical Print Bottles – Ferns</h4>
    </div>
  </div>
  <div class="GalleryPics">
    <div class="GalleryPic">
      <img [src]="img4"/>
      <h4>32oz Wide Mouth Psychedelic <br/>
        Botanical Print Bottles – Mushrooms</h4>
    </div>
    <div class="GalleryPic">
      <img [src]="img5"/>
      <h4>32oz Wide Mouth Psychedelic <br/>
         Botanical Print Bottles – Florals</h4>
    </div>
    <div class="GalleryPic">
      <img [src]="img6"/>
      <h4>32oz Wide Mouth Psychedelic <br/>
         Botanical Print Bottles – Ferns</h4>
    </div>
  </div>
</div>