<div class="GalleryContainer">
  <h3>Featured Products</h3>
  <div class="GalleryPics">
    <div class="GalleryPic">
      <img [src]="img1"/>
      <h4>32oz Wide Mouth Psychedelic <br/>
        Botanical Print Bottles – Mushrooms</h4>
        <h5>{{price1}}</h5>
        <button (click)="addToCart(price1,img1)">Add To Cart</button>
    </div>
    <div class="GalleryPic">
      <img [src]="img2"/>
      <h4>32oz Wide Mouth Psychedelic <br/>
         Botanical Print Bottles – Florals</h4>
         <h5>{{price2}}</h5>

         <button (click)="addToCart(price2,img2)">Add To Cart</button>
    </div>
    <div class="GalleryPic">
      <img [src]="img3"/>
      <h4>32oz Wide Mouth Psychedelic <br/>
         Botanical Print Bottles – Ferns</h4>
         <h5>{{price3}}</h5>
         <button (click)="addToCart(price3,img3)">Add To Cart</button>
    </div>
  </div>
  <div class="GalleryPics">
    <div class="GalleryPic">
      <img [src]="img4"/>
      <h4>32oz Wide Mouth Psychedelic <br/>
        Botanical Print Bottles – Mushrooms</h4>
        <h5>{{price4}}</h5>

        <button (click)="addToCart(price4,img4)">Add To Cart</button>
    </div>
    <div class="GalleryPic">
      <img [src]="img5"/>
      <h4>32oz Wide Mouth Psychedelic <br/>
         Botanical Print Bottles – Florals</h4>
         <h5>{{price5}}</h5>
         <button (click)="addToCart(price5,img5)">Add To Cart</button>
    </div>
    <div class="GalleryPic">
      <img [src]="img6"/>
      <h4>32oz Wide Mouth Psychedelic <br/>
         Botanical Print Bottles – Ferns</h4>
         <h5>{{price6}}</h5>
         <button (click)="addToCart(price6,img6)">Add To Cart</button>
    </div>
  </div>
</div>