<ion-content class="SignUpContainer">
  <app-header/>
  <div class="Signup">
    <div class="SignupForm">
        <h1>Register Now</h1>
        <div class="Section">
          <label>Name:</label>
          <input type="text"/>
        </div>
        <div class="Section">
          <label>Email:</label>
          <input type="email"/>
        </div>
        <div class="Section">
          <label>Password:</label>
          <input type="password"/>
        </div>
        <div class="Section">
          <label>ConfirmPassword:</label>
          <input type="text"/>
        </div>
        <button>Sign Up</button>
    </div>
  </div>
</ion-content>